{% extends 'player/base.html' %}


{% block content %}

<div class="text-center">
    <h1>This is a list of our current tournaments!</h1></br>
</div>

{% for tournament in object_list %}
    <div class="container">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ tournament.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Start Time: {{ tournament.start_time|date:"F d, Y" }}</small></br>
                    <small class="text-muted">End Time: {{ tournament.end_time|date:"F d, Y" }}</small>
                </div>
                    <h2><a class="article-title">{{tournament.title}}</a></h2>
                    <p class="article-content"><b>Tournament Level : </b>{{tournament.level}}     <b>Tournament Type : </b>{{tournament.tournament_type}}</br>     <b>Venue : </b>{{tournament.venue}}     <b>Tournament Gender : </b>{{tournament.gender}}</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'team-tournament' %}" class="btn btn-primary btn-sm active" role="button">Apply for this tournament</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-sm active" role="button">Apply for this tournament</a>
                    {% endif %}
            </div>
        </article>
    </div>
{% endfor %}
</br>

<div class="text-center">
    <h1>This is a list of our past tournament winners!</h1></br></br>
</div>

{% for winner in winners %}
    <div class="container">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ winner.tournament.image.url }}">
            <div class="media-body">
                    <h2><a class="article-title">{{winner.tournament}}</a></h2>
                    <p class="article-content"><b>Gold Medalist: </b>Team {{ winner.gold_medalist }}</p>
                    <p class="article-content"><b>Silver Medalist: </b>Team {{ winner.silver_medalist }}</p>
                    <p class="article-content"><b>Bronze Medalist: </b>Team {{ winner.bronze_medalist }}</p>
            </div>
        </article>
    </div>
{% endfor %}

</br>
</br>
</br>

{% endblock %}




