{% extends 'player/base.html' %}
{% load crispy_forms_tags%}


{% block content %}
<div class="page-header" style="background-image: url('../../../media/1.jpg'); ">
    <div class="container">
        <div class="content-section" style="opacity: 0.8; background-color: #b6e1ff">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-center">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                    Don't have a team account? <a class="ml-2" href="{% url 'team-register' %}">Register Your Team</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

